.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  /* border: 2px solid red; */

}

input[type=email]{
  padding: 0 0 0 5% ;
  width: 314px;
  border: none;
  width: 325px;
  height: 40px;
  border-radius: 10px;
  background-color: #EAEAEA;
  margin-bottom: 5%;
  outline: none;
}

input[type=password]{
  padding: 0 0 0 5% ;
  width: 314px;
  border: none;
  width: 325px;
  height: 40px;
  border-radius: 10px;
  background-color: #EAEAEA;
  margin-bottom: 5%;
  outline: none;
}

input[type=submit]{
 cursor: pointer;
 border: none;
 width: 325px;
 height: 40px;
 border-radius: 10px;
 background-color: #EAEAEA;
 margin-bottom: 5%;
 outline: none;
}

button{
  cursor: pointer;
}

#side-menu-options{
  /* border: 2px solid red; */
}

#side-menu-options>div{
  /* border: 2px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding-left: 20%; */
  line-height: 1;
  gap: 10%;
  cursor: pointer;
}

#searchbar{
  background: white;
  height: 30px;
  width: 160px;
  border: none;
  border-radius: 10px;
  padding-left: 10%;
  outline: none;
}

